<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Killer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap">
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" 
                    :class="{danger: playerLife <= criticalLife}" 
                    :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" 
                    :class="{danger: monsterLife <= criticalLife}" 
                    :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <div v-if="hasResult"class="panel result">
            <div v-if="monsterLife == 0" class="win">You win!!! \o/</div>
            <div v-else-if="playerLife == 0" class="lose">You lose! :(</div>
        </div>
        <div v-else class="panel result">* Fighting *</div>
        <div class="panel buttons">
            <div class="actions" v-if="running">
                <button class="btn punch">Punch</button>
                <button class="btn kick">Kick</button>
                <button class="btn heal">Heal</button>
                <button @click="running = false" 
                        class="btn give-up">Give up</button>
            </div>
            
            <button v-else @click="startGame"
                    class="btn start">Start</button>
        </div>
        <div class="panel logs">logs</div>
    </div>
    <script src="app.js"></script>
</body>
</html>