/* MAIN */

html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 8px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
}

/* POINTS AREA */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
    border-radius: 12px;

}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
    border-radius: 12px;
}

.life-bar .life.danger {
    background-color: red;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    
}

.buttons .actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 4px 8px;
    margin: 8px;
    min-width: 88px;
    width: 20%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: aliceblue;
}

.punch {
    background-color: orange; 
}

.punch:hover {
    opacity: 0.8; 
}

.kick {
    background-color: orangered;
}

.kick:hover {
    opacity: 0.8; 
}

.heal {
    background-color: mediumseagreen;
}

.heal:hover {
    opacity: 0.8; 
}

.give-up {
    background-color: dimgray;
}

.give-up:hover {
    opacity: 0.8; 
}

.start {
    background-color: cornflowerblue;
}

.start:hover {
    opacity: 0.8; 
}
